.Container1{
    background-color: #2a2c39;
    margin-right: -20px;
    display: flex;
    flex-direction: row;
    
}

.info{
    width: 500px;
    height: 500px;
    padding: 80px 0 0 50px;
    margin-bottom: 50px;
}

.Hello{
    font-size: 70px;
    margin-top: 70px;
}

.name{
    font-size: 90px;
    margin-right: -190px;
    white-space: nowrap;

}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  .Hello  {
    padding-left: 50px;
    animation-name: fadeIn;
    animation-duration: 6s;
  }
  .name  {
    padding-left: 50px;
    animation-name: fadeIn;
    animation-duration: 8s;
  }
  .Discription  {
    padding-left: 50px;
    animation-name: fadeIn;
    animation-duration: 10s;
  }

.Discription{
    font-family: Poppins;
    color: gray;
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 60px;
}


.button{
    font-size: 18px ;
    border-radius: 60px;
    border-width: 0.01cm;
    border-style: solid;
    border-color: gray;
    background-color: #2a2c39;
    color: #fff;
    width: 250px;
    height: 80px;
    margin-left: 50px;
}
.button:hover{
    cursor: pointer;
    background-color:#676b79;
} 
.download-image{
    width:17px;
    padding-left: 10px;
}

.Photo{
    padding: 50px 0 0 200px;
    margin-bottom: -4px;
    margin-right: 40px;
}

.Container2 {
    background-color: #303342;
    margin-right: -20px;
    display: flex;
    flex-direction: column;
}
.title-corner{
    font-size: 18px;
    color: gray;
    margin-top: 20px;
    margin-left: 60px ;
    margin-bottom: 40px;
}
.title{
    font-size: 50px;
    margin-left: 60px ;
    margin-bottom: 30px;
}
.Button-Left{
    font-size: 18px ;
    border-radius: 60px;
    border-width: 0.01cm;
    border-style: solid;
    border-color: gray;
    background-color: #2a2c39;
    color: #fff;
    width: 300px;
    height: 40px;
    margin-top: 100px;
    margin-left: 400px;

}
.Button-Left:hover{
    cursor: pointer;
    background-color:#676b79;
    transition-duration: 5s;
} 

/* Used  bellow code to create the sliding effect on the projects. */
.Project-folders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-left: -5px; /* Change this line */
    margin-right: 10px;
}


.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.project1 {
    scroll-snap-align: start;
    flex-shrink: 0;
    /* Your existing .project1 styles go here */
    background-color: #2a2c39;
    border-radius: 20px;
    width: 350px;
    height: 575px;
    margin-left: 60px ;
    margin-bottom: 400px;
}


.icon{
    color: white;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.Project-title{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.Project-info {
    display: inline-block;
    text-align: justify;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.button-project{
    font-size: 18px ;
    border-radius: 60px;
    border-width: 0.01cm;
    border-style: solid;
    border-color: gray;
    background-color: #2a2c39;
    color: #fff;
    width: 300px;
    height: 40px;
    margin-left: 20px;
}
.button-project:hover{
    cursor: pointer;
    background-color:#676b79;
    transition-duration: 1s;
} 



